!!! 5
%html
  %head
    %title JavaScript Quiz
    %link(type="text/css" rel="stylesheet" href="css/main.css")
    %script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
  %body
    %div.container
      %section#questions
        %form
          %label#questionLabel
            %div(style="clear:both")
            %input(type="button" id="submitButton" value="Submit")
  %script(src="js/javascript.js")
